In [239]:
import pandas as pd

In [240]:
df = pd.read_csv('./datasets/train.csv')

In [241]:
df.isnull().sum().head()

Id                0
PID               0
MS SubClass       0
MS Zoning         0
Lot Frontage    330
dtype: int64

In [242]:
df.dropna(axis=1, inplace=True)

In [243]:
df.shape

(2051, 55)

In [244]:
df.head()

,Id,PID,MS SubClass,MS Zoning,Lot Area,Street,Lot Shape,Land Contour,Utilities,Lot Config,...,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,13517,Pave,IR1,Lvl,AllPub,CulDSac,...,44,0,0,0,0,0,3,2010,WD,130500
1,544,531379050,60,RL,11492,Pave,IR1,Lvl,AllPub,CulDSac,...,74,0,0,0,0,0,4,2009,WD,220000
2,153,535304180,20,RL,7922,Pave,Reg,Lvl,AllPub,Inside,...,52,0,0,0,0,0,1,2010,WD,109000
3,318,916386060,60,RL,9802,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,0,4,2010,WD,174000
4,255,906425045,50,RL,14235,Pave,IR1,Lvl,AllPub,Inside,...,59,0,0,0,0,0,3,2010,WD,138500

In [245]:
df.SalePrice.min()

12789

In [246]:
df.SalePrice.median()

162500.0

In [247]:
df['sale_price_bool'] = 0

In [248]:
df.sale_price_bool = df.SalePrice.map(lambda x: 0 if x <= 162500 else 1)

#df.PhD = df.PhD.map(lambda phd: np.nan if phd == '?' else float(phd))

In [249]:
df.sale_price_bool.unique()

array([0, 1], dtype=int64)

In [250]:
df = pd.get_dummies(df, columns=['MS Zoning'], drop_first=True)
df.head()

,Id,PID,MS SubClass,Lot Area,Street,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,...,Yr Sold,Sale Type,SalePrice,sale_price_bool,MS Zoning_C (all),MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM
0,109,533352170,60,13517,Pave,IR1,Lvl,AllPub,CulDSac,Gtl,...,2010,WD,130500,0,0,0,0,0,1,0
1,544,531379050,60,11492,Pave,IR1,Lvl,AllPub,CulDSac,Gtl,...,2009,WD,220000,1,0,0,0,0,1,0
2,153,535304180,20,7922,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,2010,WD,109000,0,0,0,0,0,1,0
3,318,916386060,60,9802,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,2010,WD,174000,1,0,0,0,0,1,0
4,255,906425045,50,14235,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,2010,WD,138500,0,0,0,0,0,1,0

In [251]:
df['price_*_condition_yr'] = (df['Overall Cond'] * df.sale_price_bool * df['Year Built']) * 2

In [252]:
df['floors'] = df['1st Flr SF'] * df['2nd Flr SF']

In [253]:
df['price_*_condition_yr_flrs'] = df['Overall Cond'] * df.sale_price_bool * df['Year Built'] * df.floors

In [254]:
df['price_*_condition_bds_flrs'] = df['Overall Cond'] * df.sale_price_bool * df['Bedroom AbvGr'] * df.floors

In [255]:
features = ['Lot Area', 'Overall Qual', 'Year Built', 'MS Zoning_C (all)', '1st Flr SF', '2nd Flr SF', 'price_*_condition_yr',
            'Full Bath', 'Half Bath', 'Yr Sold', 'Overall Cond', 'TotRms AbvGrd', 'price_*_condition_yr_flrs',
            'Bedroom AbvGr', 'price_*_condition_bds_flrs']

In [220]:
#features = [col for col in df._get_numeric_data().columns if col != 'SalePrice']
#X = df[features]

In [256]:
X.head()

,Id,PID,MS SubClass,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,1st Flr SF,2nd Flr SF,...,MS Zoning_C (all),MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM,price_*_condition_yr,floors,price_*_condition_yr_flrs,price_*_condition_bds_flrs
0,109,533352170,60,13517,6,8,1976,2005,725,754,...,0,0,0,0,1,0,0,546650,0,0
1,544,531379050,60,11492,7,5,1996,1997,913,1209,...,0,0,0,0,1,0,19960,1103817,11016093660,22076340
2,153,535304180,20,7922,5,7,1953,2007,1057,0,...,0,0,0,0,1,0,0,0,0,0
3,318,916386060,60,9802,5,5,2006,2007,744,700,...,0,0,0,0,1,0,20060,520800,5223624000,7812000
4,255,906425045,50,14235,6,8,1900,1993,831,614,...,0,0,0,0,1,0,0,510234,0,0

In [257]:
y = df['SalePrice']

In [258]:
from sklearn.model_selection import train_test_split

In [259]:
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                   test_size=0.2,
                                                   random_state=42)

In [260]:
print(X_train.shape)
print(X_test.shape)

(1640, 38)
(411, 38)

In [261]:
from sklearn.preprocessing import StandardScaler

In [262]:
ss = StandardScaler()

In [263]:
# standardize X_train and X_test

ss.fit(X_train)
X_train = ss.transform(X_train)
X_test = ss.transform(X_test)

In [305]:
df.shape

(879, 61)

In [264]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression, LassoCV, RidgeCV

In [265]:
# instantiate
lr = LinearRegression()

In [266]:
lasso = LassoCV(n_alphas=200)

In [267]:
ridge = RidgeCV(alphas=np.linspace(.1, 10, 100))

In [268]:
lr_scores = cross_val_score(lr, X_train, y_train, cv=3)
lr_scores.mean()

0.7823954326782748

In [269]:
lasso_scores = cross_val_score(lasso, X_train, y_train, cv=3)
lasso_scores.mean()

0.7774755142402713

In [270]:
ridge_scores = cross_val_score(ridge, X_train, y_train, cv=3)
ridge_scores.mean()

0.781728173792156

In [271]:
#cross_val_score(lr, X_train, y_train)

In [275]:
ridge.fit(X_train, y_train)

RidgeCV(alphas=array([ 0.1,  0.2, ...,  9.9, 10. ]), cv=None,
    fit_intercept=True, gcv_mode=None, normalize=False, scoring=None,
    store_cv_values=False)

In [276]:
ridge.score(X_test, y_test)

0.8620987214750376

In [293]:
import numpy as np

In [294]:
np.mean(cross_val_score(ridge, X_train, y_train))

0.781728173792156

In [295]:
df_2 = df = pd.read_csv('./datasets/test.csv')

In [296]:
df_2.dropna(axis=1, inplace=True)

In [297]:
df_2.head()

,Id,PID,MS SubClass,MS Zoning,Lot Area,Street,Lot Shape,Land Contour,Utilities,Lot Config,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,9142,Pave,Reg,Lvl,AllPub,Inside,...,0,60,112,0,0,0,0,4,2006,WD
1,2718,905108090,90,RL,9662,Pave,IR1,Lvl,AllPub,Inside,...,170,0,0,0,0,0,0,8,2006,WD
2,2414,528218130,60,RL,17104,Pave,IR1,Lvl,AllPub,Inside,...,100,24,0,0,0,0,0,9,2006,New
3,1989,902207150,30,RM,8520,Pave,Reg,Lvl,AllPub,Inside,...,0,0,184,0,0,0,0,7,2007,WD
4,625,535105100,20,RL,9500,Pave,IR1,Lvl,AllPub,Inside,...,0,76,0,0,185,0,0,7,2009,WD

In [298]:
features

['Lot Area',
 'Overall Qual',
 'Year Built',
 'MS Zoning_C (all)',
 '1st Flr SF',
 '2nd Flr SF',
 'price_*_condition_yr',
 'Full Bath',
 'Half Bath',
 'Yr Sold',
 'Overall Cond',
 'TotRms AbvGrd',
 'price_*_condition_yr_flrs',
 'Bedroom AbvGr',
 'price_*_condition_bds_flrs']

In [299]:
df_2 = pd.get_dummies(df_2, columns=['MS Zoning'], drop_first=True)
df_2.head()

,Id,PID,MS SubClass,Lot Area,Street,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,...,Pool Area,Misc Val,Mo Sold,Yr Sold,Sale Type,MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM
0,2658,902301120,190,9142,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,4,2006,WD,0,0,0,0,1
1,2718,905108090,90,9662,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,8,2006,WD,0,0,0,1,0
2,2414,528218130,60,17104,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,9,2006,New,0,0,0,1,0
3,1989,902207150,30,8520,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,7,2007,WD,0,0,0,0,1
4,625,535105100,20,9500,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,7,2009,WD,0,0,0,1,0

In [300]:
df_2['MS Zoning_C (all)'] = 0
df_2['price_*_condition_yr'] = 0
df_2['price_*_condition_yr_flrs'] = 0
df_2['price_*_condition_bds_flrs'] = 0
df_2.head()

,Id,PID,MS SubClass,Lot Area,Street,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,...,Sale Type,MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM,MS Zoning_C (all),price_*_condition_yr,price_*_condition_yr_flrs,price_*_condition_bds_flrs
0,2658,902301120,190,9142,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,WD,0,0,0,0,1,0,0,0,0
1,2718,905108090,90,9662,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,WD,0,0,0,1,0,0,0,0,0
2,2414,528218130,60,17104,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,New,0,0,0,1,0,0,0,0,0
3,1989,902207150,30,8520,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,WD,0,0,0,0,1,0,0,0,0
4,625,535105100,20,9500,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,WD,0,0,0,1,0,0,0,0,0

In [304]:
X_holdout = df_2[features]
X_holdout.shape

(879, 15)

In [303]:
y_pred = ridge.predict(X_holdout)

ValueError: shapes (879,15) and (38,) not aligned: 15 (dim 1) != 38 (dim 0)

In [398]:
my_ids = df_2['Id']

In [399]:
df = pd.DataFrame()

In [400]:
df['Id'] = my_ids

In [401]:
df.head()

     Id
0  2658
1  2718
2  2414
3  1989
4   625

In [402]:
df['SalePrice'] = y_pred

In [403]:
df.head()

     Id      SalePrice
0  2658  139883.496582
1  2718  190009.832681
2  2414  179648.044532
3  1989  102698.480408
4   625  169768.935918

In [404]:
df.set_index('Id', inplace=True)

In [405]:
df.to_csv('./datasets/britt_3rd_submission.csv')