In [515]:
import pandas as pd

In [516]:
df = pd.read_csv('./datasets/train.csv')

In [517]:
df.isnull().sum().head()

Id                0
PID               0
MS SubClass       0
MS Zoning         0
Lot Frontage    330
dtype: int64

In [518]:
df.shape

(2051, 81)

In [519]:
df.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [520]:
df.SalePrice.min()

12789

In [521]:
df.SalePrice.median()

162500.0

In [522]:
df['sale_price_bool'] = 0

In [523]:
df.sale_price_bool = df.SalePrice.map(lambda x: 0 if x <= 162500 else 1)

#df.PhD = df.PhD.map(lambda phd: np.nan if phd == '?' else float(phd))

In [524]:
df.sale_price_bool.unique()

array([0, 1], dtype=int64)

In [525]:
df = pd.get_dummies(df, columns=['MS Zoning'], drop_first=True)
df.head()

,Id,PID,MS SubClass,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,Yr Sold,Sale Type,SalePrice,sale_price_bool,MS Zoning_C (all),MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM
0,109,533352170,60,NaN,13517,Pave,NaN,IR1,Lvl,AllPub,...,2010,WD,130500,0,0,0,0,0,1,0
1,544,531379050,60,43.0,11492,Pave,NaN,IR1,Lvl,AllPub,...,2009,WD,220000,1,0,0,0,0,1,0
2,153,535304180,20,68.0,7922,Pave,NaN,Reg,Lvl,AllPub,...,2010,WD,109000,0,0,0,0,0,1,0
3,318,916386060,60,73.0,9802,Pave,NaN,Reg,Lvl,AllPub,...,2010,WD,174000,1,0,0,0,0,1,0
4,255,906425045,50,82.0,14235,Pave,NaN,IR1,Lvl,AllPub,...,2010,WD,138500,0,0,0,0,0,1,0

In [526]:
df['price_*_condition_yr'] = (df['Overall Cond'] * df.sale_price_bool * df['Year Built'])

In [527]:
df['floors'] = df['1st Flr SF'] * df['2nd Flr SF']

In [528]:
df['price_*_condition_yr_flrs'] = df['Overall Cond'] * df.sale_price_bool * df['Year Built'] * df.floors

In [529]:
df['price_*_condition_yr_bds'] = df['Overall Cond'] * df.sale_price_bool * df['Year Built'] * df['Bedroom AbvGr']

In [530]:
features = ['Lot Area', 'Overall Qual', 'Year Built', 'MS Zoning_C (all)', '1st Flr SF', '2nd Flr SF', 'price_*_condition_yr',
            'Full Bath', 'Half Bath', 'Yr Sold', 'Overall Cond', 'TotRms AbvGrd', 'price_*_condition_yr_flrs', 'floors',
            'Bedroom AbvGr', 'price_*_condition_yr_bds']
X = df[features]

In [531]:
y = df['SalePrice']

In [532]:
from sklearn.model_selection import train_test_split

In [533]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [534]:
print(X_train.shape)
print(X_test.shape)

(1538, 16)
(513, 16)

In [535]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

In [536]:
# instantiate
lr = LinearRegression()

In [537]:
cross_val_score(lr, X_train, y_train)

array([0.80232745, 0.70963164, 0.75157329])

In [538]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [539]:
lr.score(X_test, y_test)

0.8213183760249005

In [540]:
import numpy as np

In [541]:
np.mean(cross_val_score(lr, X_train, y_train))

0.7545107952922212

In [542]:
df_2 = df = pd.read_csv('./datasets/test.csv')

In [543]:
df_2.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [544]:
features

['Lot Area',
 'Overall Qual',
 'Year Built',
 'MS Zoning_C (all)',
 '1st Flr SF',
 '2nd Flr SF',
 'price_*_condition_yr',
 'Full Bath',
 'Half Bath',
 'Yr Sold',
 'Overall Cond',
 'TotRms AbvGrd',
 'price_*_condition_yr_flrs',
 'floors',
 'Bedroom AbvGr',
 'price_*_condition_yr_bds']

In [545]:
df_2 = pd.get_dummies(df_2, columns=['MS Zoning'], drop_first=True)
df_2.head()

,Id,PID,MS SubClass,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM
0,2658,902301120,190,69.0,9142,Pave,Grvl,Reg,Lvl,AllPub,...,NaN,0,4,2006,WD,0,0,0,0,1
1,2718,905108090,90,NaN,9662,Pave,NaN,IR1,Lvl,AllPub,...,NaN,0,8,2006,WD,0,0,0,1,0
2,2414,528218130,60,58.0,17104,Pave,NaN,IR1,Lvl,AllPub,...,NaN,0,9,2006,New,0,0,0,1,0
3,1989,902207150,30,60.0,8520,Pave,NaN,Reg,Lvl,AllPub,...,NaN,0,7,2007,WD,0,0,0,0,1
4,625,535105100,20,NaN,9500,Pave,NaN,IR1,Lvl,AllPub,...,NaN,0,7,2009,WD,0,0,0,1,0

In [546]:
df_2['MS Zoning_C (all)'] = 0
df_2['price_*_condition_yr'] = 0
df_2['price_*_condition_yr_flrs'] = 0
df_2['floors'] = 0
df_2.head()

,Id,PID,MS SubClass,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,Sale Type,MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM,MS Zoning_C (all),price_*_condition_yr,price_*_condition_yr_flrs,floors
0,2658,902301120,190,69.0,9142,Pave,Grvl,Reg,Lvl,AllPub,...,WD,0,0,0,0,1,0,0,0,0
1,2718,905108090,90,NaN,9662,Pave,NaN,IR1,Lvl,AllPub,...,WD,0,0,0,1,0,0,0,0,0
2,2414,528218130,60,58.0,17104,Pave,NaN,IR1,Lvl,AllPub,...,New,0,0,0,1,0,0,0,0,0
3,1989,902207150,30,60.0,8520,Pave,NaN,Reg,Lvl,AllPub,...,WD,0,0,0,0,1,0,0,0,0
4,625,535105100,20,NaN,9500,Pave,NaN,IR1,Lvl,AllPub,...,WD,0,0,0,1,0,0,0,0,0

In [547]:
X_holdout = df_2[features]

KeyError: "['price_*_condition_yr_bds'] not in index"

In [548]:
y_pred = lr.predict(X_holdout)

ValueError: shapes (879,14) and (16,) not aligned: 14 (dim 1) != 16 (dim 0)

In [549]:
my_ids = df_2['Id']

In [399]:
df = pd.DataFrame()

In [400]:
df['Id'] = my_ids

In [401]:
df.head()

     Id
0  2658
1  2718
2  2414
3  1989
4   625

In [402]:
df['SalePrice'] = y_pred

In [403]:
df.head()

     Id      SalePrice
0  2658  139883.496582
1  2718  190009.832681
2  2414  179648.044532
3  1989  102698.480408
4   625  169768.935918

In [404]:
df.set_index('Id', inplace=True)

In [405]:
df.to_csv('./datasets/britt_4th_submission.csv')